<div>
    <div class="panel">
        <div class="mb-5">
            <div class="mb-4 flex flex-col items-center justify-center sm:flex-row sm:justify-between">
                <div class="mb-4 sm:mb-0"  style="width: 45%;">
                    <div class="text-center text-lg font-semibold ltr:sm:text-left rtl:sm:text-right">Agend.AI</div>
                    <div class="mt-2 flex flex-wrap items-center justify-center sm:justify-start gap-2" 
                    style="width: 100%;" >
                        <label>Filtro por recursos:</label>
                        <div style="width: 60%;">
                            <ng-select
                            style="width: 100%;"
                            id="filter"
                            name="company"
                            bindLabel="dairyName"
                            [multiple]="true"
                            bindValue="dairyName"
                            [items]="optionsFilter"
                            [searchable]="false"
                            [clearable]="false" 
                            (change)="changeFilterResource($event)"
                            ></ng-select>
                        </div>
 
                 
                    </div>
                </div>

                <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-6 md:gap-1">
                    <!-- Botão de Configurações -->
                   
                        <button type="button" class="btn btn-primary w-full md:w-auto" (click)="editConfig()">
                            <icon-settings class="ltr:mr-2 rtl:ml-2" />
                            Configurações
                        </button>
                 
                
                    <!-- Botão de Sincronização -->
                  
                        <button type="button" class="btn w-full md:w-auto" (click)="sync()" aria-label="Sincronizar">
                            <icon-play-circle class="ltr:mr-2 rtl:ml-2" />
                            Sincronizar
                        </button>
            
                    <!-- Display de Email Configurado -->
                    <div class="p-2 rounded-lg border-2 border-slate-200 w-full md:w-auto">
                        <label>Email:</label>
                        <strong *ngIf="configCompany != null && configCompany.emailCalendar != null">
                            {{configCompany.emailCalendar}}
                        </strong>
                        <strong *ngIf="configCompany != null && configCompany.emailCalendar == null">
                            não configurado
                        </strong>
                    </div>
                
                    <!-- Status de Sincronização -->
                    <div class="p-2 rounded-lg border-2 border-slate-200 w-full md:w-auto" style="width: 9rem">
                        <div class="flex items-center justify-between">
                            <label>Sincronizado:</label>
                            <icon-globe class="text-lg" [style.color]="isSynced ? 'green' : 'red'"></icon-globe>
                        </div>
                        <span>{{isSynced ? "ok" : "favor sincronizar"}}</span>
                    </div>
                
                    <!-- Botão de Recursos -->
                    <button type="button" class="btn btn-primary w-full md:w-auto" routerLink="/apps/agendai/recurso">
                        <icon-tag class="ltr:mr-2 rtl:ml-2" />
                        Recursos
                    </button>
                
                    <!-- Botão Criar Evento -->
                    <button type="button" class="btn btn-primary w-full md:w-auto" (click)="editEvent()">
                        <icon-plus class="ltr:mr-2 rtl:ml-2" />
                        Evento
                    </button>
                </div>
                

            </div>
            <div class="calendar-wrapper">
                <full-calendar #calendar [options]="calendarOptions" [deepChangeDetection]="true" data>
                    <ng-template #eventContent let-arg>
                        <div class="fc-event-main-frame flex items-center px-1 py-0.5 text-white  " style="height:¨;" >
                            <div class="fc-event-time px-0.5 font-semibold">{{ arg.timeText }}</div>
                            <div class="fc-event-title-container">
                                <div class="fc-event-title fc-sticky px-0.5 !font-medium">{{ arg.event.title }}</div>
                            </div>
                        </div>
                    </ng-template>
                </full-calendar>
            </div>
        </div>
    </div>
    <!-- add event modal -->
    <ngx-custom-modal #isAddEventModal class="no-footer">
        <ng-template #modalHeader>
            <div class="!font-medium">{{ params.value.id ? 'Altera evento' : 'Adiciona evento' }}</div>
        </ng-template>
        <ng-template #modalBody>
            <form [formGroup]="params" class="text-sm" (submit)="saveEvent()" ngNativeValidate>
                <div class="mb-5">
                    <label>Recurso: *</label>
                    <div class="mt-3">
                            <div style="width: 50%;">
                                <ng-select 
                                style="width: 100%;"
                                id="filter"
                                name="dairyName"
                                bindLabel="dairyName"
                                [multiple]="false"
                                bindValue="dairyName" 
                                [items]="optionsFilter"
                                [searchable]="false"
                                [clearable]="false"  
                                formControlName="dairyName"
                                (change)="changeDairyName($event)"
                                required
                                ></ng-select>
                   

                            </div>
                    </div>
                </div>
                <div class="p-2 rounded-lg border-2 border-slate-200 gap-2 md:col-span-2 grid-rows-2">
                    <div class="md:col-span-2">
                        <h4>DADOS DO CLIENTE</h4>
                    </div>
                    <div class="mb-5">
                        <mat-form-field style="text-align: right" class="autocomplete">
                            <input type="text" placeholder="Entre com o nome" class="form-input" matInput [formControl]="myControl" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                              <mat-option *ngFor="let option of filteredOptions | async"
                                          [value]="option.name"
                                          (onSelectionChange)="changeContacts(option)">
                                {{ option.name }}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                    </div>         
                    <div class="mb-5">
                        <label for="email">Email :</label>
                        <input id="email" type="text" name="email" class="form-input" placeholder="Entre com email" formControlName="email" />
                        <div class="mt-2 text-danger" id="emailErr"></div>
                    </div>
                    <div class="mb-5">
                        <label for="phone">Celular/whatsapp :</label>
                        <input id="phone" type="text" name="phone" class="form-input" placeholder="Entre com whatsapp" 
                        formControlName="phone" [textMask]="{mask: mask12}"  />
                        <div class="mt-2 text-danger" id="phoneErr"></div>
                    </div>
                </div>
                <div class="mb-5">
                    <label for="title">Titulo : *</label>
                    <input id="title" type="text" name="title" class="form-input" placeholder="Entre com título" formControlName="title" required />
                    <div class="mt-2 text-danger" id="titleErr"></div>
                </div>

                <div class="mb-5" *ngIf="params.value.id == null">
                    <label for="gridDate">Datas : *</label>
                    <ng-select
                        id="gridDate"
                        name="gridDate"
      
                        [items]="dateKeys"
                        [searchable]="true"
                        [clearable]="false"
                        (change)="changedDate($event)"
                        class="custom-multiselect" >
                    </ng-select>


                    <div class="mt-2 text-danger" id="startDateErr"></div>
                </div>

                <div class="mb-5" *ngIf="params.value.id == null">
                    <label for="gridHours">Horários : *</label>
                    <ng-select
                        id="gridHours"
                        name="gridHours"
                        bindLabel="strHour"
                        bindValue="strStartDateTime"
                        [items]="hoursList"
                        [searchable]="true"
                        formControlName="start"
                        [clearable]="false"
                        (change)="changedHour($event)"
                        class="custom-multiselect" >
                    </ng-select>


                    <div class="mt-2 text-danger" id="startDateErr"></div>
                </div>

    
                <div class="mb-5" *ngIf="params.value.id != null">
                    <label for="gridDateHourStart">De: </label>
                    <input id="gridDateHourStart" 
                    type="text"
                    name="start"
                    class="form-input"
                    readonly="true"
                    formControlName="startFormated" />


                    <div class="mt-2 text-danger" id="startDateErr"></div>
                </div>
                <div class="mb-5" *ngIf="params.value.id != null">
                    <label for="gridDateHourEnd">Até: </label>
                    <input id="gridDateHourEnd" 
                    type="text"
                    name="end"
                    class="form-input"
                    readonly="true"
                    formControlName="endFormated" />


                    <div class="mt-2 text-danger" id="startDateErr"></div>
                </div>

                <div class="mb-5">
                    <label for="description">Descrição :</label>
                    <textarea
                        id="description"
                        name="description"
                        class="form-textarea min-h-[130px]"
                        placeholder="Entra com evento"
                        formControlName="description"
                    ></textarea>
                </div>
 
                <div class="mt-8 flex items-center justify-end">
                    <button type="button" class="btn btn-success" *ngIf="params.value.id" (click)="notifyEvent()"><icon-send /></button>
                    <button type="button" class="btn btn-danger  ltr:ml-4 rtl:mr-4" *ngIf="isNewEvent" (click)="deleteEvent()"><icon-trash /></button>
                    <button type="button" class="btn btn-outline-danger ltr:ml-4 rtl:mr-4" (click)="isAddEventModal.close()">Cancelar</button>
                    <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4">Salvar</button>
                </div>
            </form>
          

   
        </ng-template>
    </ngx-custom-modal>
 
    <!-- add Config modal -->
    <ngx-custom-modal #isAddConfigModal class="no-footer">
        <ng-template #modalHeader>
            <div class="!font-medium">Configurações</div>
        </ng-template>
        <ng-template #modalBody> 
            <form [formGroup]="paramsConfig" class="text-sm" (submit)="saveConfig()" ngNativeValidate>
                <div class="mb-5">
                    <label for="emailCalendar">Email Google :</label>
                    <input id="emailCalendar" type="text" 
                    name="emailCalendar" class="form-input"
                    placeholder="Entre com seu email google" 
                    formControlName="emailCalendar" required />
                    <div class="mt-2 text-danger" id="titleErr"></div>
                </div>
 
                <div class="mb-5">
                    <label for="clientId">Cliente id :</label>
                    <input id="clientId" type="text" 
                    name="clientId" class="form-input"
                    placeholder="Entre com seu client id" 
                    formControlName="googleClientId" required />
                    <div class="mt-2 text-danger" id="titleErr"></div>
                </div>
                <div class="mb-5">
                    <label for="clientSecret">Cliente secret :</label>
                    <input id="clientSecret" type="text" 
                    name="clientSecret" class="form-input"
                    placeholder="Entre com seu client secret" 
                    formControlName="googleClientSecret" required />
                    <div class="mt-2 text-danger" id="titleErr"></div>
                </div>
                <div class="mt-8 flex items-center justify-end">
                    <button type="button" class="btn btn-outline-danger" (click)="isAddConfigModal.close()">Cancelar</button>
                    <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4">Salvar</button>
                </div>
            </form>
        </ng-template>
    </ngx-custom-modal>
</div>
