<div>
    <ul class="flex space-x-2 rtl:space-x-reverse">
        <li>
            <a href="javascript:;" class="text-primary hover:underline">Dashboard</a>
        </li>
        <li class="before:content-['/'] ltr:before:mr-2 rtl:before:ml-2">
            <span>Pagamentos</span>
        </li>
    </ul>

    <div class="panel mt-5 ">
        <div class="mb-5">
            <div class="container mx-auto px-4">
                <div class="container-fluid py-4">
                    <div class="card shadow">
                      <div class="card-header bg-primary text-white">
                        <h4 class="mb-0">
                          <i class="fas fa-credit-card me-2"></i>Pagamentos
                        </h4>
                      </div>
                  
                      <div class="card-body">
             
                        <ng-datatable
                        skin="whitespace-nowrap bh-table-hover"
                        [rows]="gridRowsPayment"
                        [columns]="cols"
                        [totalRows]="totalPaymentsSearched"
                        [isServerMode]="true"
                        (changeServer)="changeServer($event)"
                        >
                        
                        <ng-template slot="id" let-value="data">
                            <strong class="text-info">#{{ value.subscriptionId }}</strong>
                        </ng-template>
                        <ng-template slot="name" let-value="data">
                            <span class="text-info">{{ value.email  }}</span>
                        </ng-template>
                        <ng-template slot="name" let-value="data">
                            <span class="text-info badge">{{ value.status  }}</span>
                        </ng-template>
          
                        <ng-template slot="name" let-value="data">
                            <span class="text-info">{{ value.createdAt | date:'dd/MM/yyyy HH:mm:ss' }}</span>
                        </ng-template>
                     
                        <ng-template slot="acoes" let-value="data">
                            <div class="flex items-center justify-center gap-4">
                   
                                <button type="button" class="btn btn-sm btn-outline-primary" title="Detalhar"
                                (click)="detail(value.subscriptionId )" 
                                >
                                    <icon-eye   />
                                </button>
                            <!--      <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteRow(value)">
                                    <icon-trash/>
                                </button> -->
                            </div>
                            
                        
                        </ng-template>
                        </ng-datatable>
             
                  
                        <!-- Botões de Ação -->
                        <div class="d-flex justify-content-end">
                          <!-- <button class="btn btn-outline-secondary me-2" (click)="goBack()">
                            <i class="fas fa-arrow-left me-1"></i> Voltar
                          </button>
                          <button *ngIf="checkoutSession?.active" class="btn btn-danger" (click)="cancelSubscription()">
                            <i class="fas fa-ban me-1"></i> Cancelar Assinatura
                          </button> -->
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>







</div>