<div class="flex">
    <p *ngIf="fromCompany" class="min-w-[58px] max-w-[100px] py-2.5 text-base font-semibold text-[#008a0e] dark:text-white-light">{{createdAt}}</p>
    <p *ngIf="!fromCompany" class="min-w-[58px] max-w-[100px] py-2.5 text-base font-semibold text-[#2196f3] dark:text-white-light">{{createdAt}}</p>
    <div
        class="relative before:absolute before:left-1/2 before:top-[15px] before:h-2.5 before:w-2.5 before:-translate-x-1/2 before:rounded-full before:border-2 before:border-primary after:absolute after:-bottom-[15px] after:left-1/2 after:top-[25px] after:h-auto after:w-0 after:-translate-x-1/2 after:rounded-full after:border-l-2 after:border-primary"
    ></div>
    <div class="self-center p-2.5 ltr:ml-2.5 rtl:ml-2.5 rtl:ltr:mr-2.5">
        <p *ngIf="fromCompany" class="text-[13px] font-semibold text-[#008a0e] dark:text-white-light">{{message}}</p>
        <p *ngIf="!fromCompany" class="text-[13px] font-semibold text-[#2196f3] dark:text-white-light">{{message}}</p>
        
        <!-- Adicione esta parte para exibir a imagem -->
        <div *ngIf="imagem?.id" class="mt-2">
            <img [src]="imagemUrl" 
                 [alt]="imagem.caption || 'Imagem do ticket'" 
                 class="max-w-full h-auto rounded border border-gray-200 dark:border-gray-600">
        </div>
    </div>
</div>